[core]
	; compression = 0
	autocrlf = input
	; pager = less -FRSX
	; pager = less -x1,5 -iFXRS
	; pager = less -+X
	pager = less --tabs=4 -iRFX -+W -+J # -S
	; pager = delta
	editor = "$EDITOR"
	excludesFile = ~/.gitignore

[init]
	; templatedir = ~/.git_template
	defaultBranch = main

[alias]
	wt = worktree
	cf = config --edit
	cfg = config --global --edit

	amend = commit --amend -v
	no-edit = commit --amend --no-edit
	ci = commit -v

	sw = switch
	co = checkout
	cb = checkout -b
	b = branch
	cur = branch --show-current

	; --ws-error-highlight=all: show some invisible chars (e.g. trailing white spaces)
	; Note that it does not show the differnce between spaces and tabs. In that case
	; one should use 'git diff | cat -A'
	d = diff --ws-error-highlight=all
	d0 = d --unified=0
	dc = d --cached
	dc0 = d --cached --unified=0
	both = d HEAD
	dw = d --color-words="[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+"

	grepc = grep --cached --break --heading

	ff = merge --ff-only
	noff = merge --no-ff
	pom = push origin master
	st = status --short --branch
	stu = status --short --branch --untracked-files=no
	stat = show --stat
	# from upstream to head
	statu = show --stat @{u}..HEAD

	# Like git whatchanged
	what = log --raw --no-merges

	# Beautiful log
	l = log --simplify-merges --graph --pretty="tformat:%C(yellow)%h%Creset\\ %Cgreen(%ar)%Creset\\ %C(blue)<%an>%Creset\\ %C(red)%d%Creset\\ %s"
	la = log --all --simplify-merges --graph --pretty="tformat:%C(yellow)%h%Creset\\ %Cgreen(%ar)%Creset\\ %C(blue)<%an>%Creset\\ %C(red)%d%Creset\\ %s"
	lm = log --oneline --decorate --graph
	summary = log --abbrev-commit --pretty=oneline --author="Ali.Bozorgzadeh" --since=last.mon --reverse

	clone = clone --progress --verbose

	# pretty print git objects
	cat = cat-file -p
	ls = ls-files
	# print the contents of the staging area or index
	index = ls-files -s
	ls-ignored = ls-files --others --directory --no-empty-directory

	; ctags = !.git/hooks/ctags
	abbrev = !sh -c 'git rev-parse --short ${1-`echo HEAD`}' -
	count = !sh -c 'git log --oneline | wc -l'

	# src: https://stackoverflow.com/a/8408640/13041067
	dupes = !"git ls-tree -r HEAD | cut -c 13- | sort | uniq -D -w 40"

	fixup = !sh -c 'git commit --fixup=$1 ${@:2}' -

	# Show just the HEAD commit message (no indent) and nothing else
	message = log -1 --pretty=format:%B
	msg = message

	one = log --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	ten = log -10 --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	oneline = log --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'

	# requires Git 1.5.4 or later
	p = add -p
	patch = add -p

	unstage = restore --staged

	# requires Git 1.7.11.3 or later
	reword = commit --amend --only -v --

	# requires Git 1.6.2 or later
	rollback = !sh -c 'git reset --merge HEAD~${1-1}' -

	staged = diff --cached

	# All ignored and untracked files are also stashed and then cleanedup with `git clean`.
	stashall = stash --all

	# git worktree add ../repo-review
	#  git pr origin 189
	#  git switch pr_189
	# or
	#  gh pr checkout 189
	pr = "!f() { git fetch $1 refs/pull/$2/head:pr_$2;  } ; f"

[user]
	name = Ali Bozorgzadeh
	email = abzrgzdh@gmail.com
	signingkey = ~/.ssh/id_ed25519_git.pub

[github]
	user = abzrg

[column]
	ui = auto

[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
	ui = true
	grep = auto

; [color "branch"]
; 	; current = 74 236 italic
; 	; local = 148
; 	; worktree = 74
; 	remote = 242
; 	HEAD = magenta

; [color "decorate"]
; 	branch = cyan
; 	HEAD = magenta

[color "diff"]
	; meta = 0 4
	; frag = 0 14
	; commit = yellow
	; old = red; bold
	; new = green; bold
	whitespace = red reverse

; [color "diff-highlight"]
; 	oldHighlight = red bold 238
; 	newHighlight = green bold 238

[color "status"]
	added = green
	changed = red
	untracked = blue

[interactive]
;	singlekey = true
	; diffFilter = diff-highlight
	diffFilter = delta --color-only  # (delta)

[pager]
	show-branch = true
	; status = true

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection
	; light = true
	side-by-side = true
	line-numbers = true

[help]
	autocorrect = prompt # 10

[rebase]
	; Always pass --autosquash to rebase --interactive
	; autosquash recognizes the commit messages that start with 'fixup!' or 'squash!'
	; and rearranges the commits in the todo list automatically.
	autosquash = true

	; ????
	; autoStash = true
	updateRefs = true

[merge]
	ff = false
	summary = true
	tool = fugitive
	# Adds a middle section, which is the code at the closest common parent in the commit tree
	conflictStyle = diff3
	log = 1000 #?

	# (just 'diff3' if git version < 2.3)
	conflictstyle = zdiff3  # (delta)

[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
	keepBackup = false

[pull]
	rebase = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[push]
; 	# Only push the current branch (only if tracking is set up)
; 	default = upstream
	default = simple
	autoSetupRemote = true
	followTags = true

[branch]
	autosetupmerge = always  # ?
	autosetuprebase = local  # ?
	sort = -committerdate    # show the branches that contain the latest commits first

[tag]
	sort = version:refname

# ignored by Git older than 1.8.2
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	# Added in Git 2.9.0 (experimental): more readable diffs.
	compactionHeuristic = true

[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[grep]
	lineNumber = true
	# requires Git built with PCRE support; ie:
	#   brew install git --with-pcre (on OS X)
	patternType = perl

[log]
	decorate = short

[status]
	submodulesummary = true
	; showUntrackedFiles = "all"

# Signing commits with SSH
[gpg]
	format = ssh

[commit]
	verbose = true
	# If you don't want to type the -S flag every time you commit
	# git commit -S -m "My commit msg"
	gpgsign = true

[rerere]
	enabled = true
	autoupdate = true

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

# Use ssh when cloning from GitHub
[url "git@github.com:"]
	insteadOf = "https://github.com/"

[url "git@gitea.com:"]
	insteadOf = "https://gitea.com/"

[http]
	# problem with cloning large repos
	; postBuffer = 524288000

[include]
	path = ~/.gitconfig_private

# vim: noet ts=8 sw=8
; [credential "https://github.com"]
; 	helper = 
; 	helper = !/opt/homebrew/bin/gh auth git-credential
; [credential "https://gist.github.com"]
; 	helper = 
; 	helper = !/opt/homebrew/bin/gh auth git-credential
